{% extends "_layouts/cp" %}

{% includeCssResource 'comments/css/comments.css' %}
{% includeJsResource 'comments/js/comments.js' %}

{% import "_includes/forms" as forms %}

{% set title = 'Edit Comment' %}
{% set fullPageForm = true %}

{% set crumbs = [
    { label: "Comments" | t, url: url('comments') },
    { label: "Edit" | t, url: url('comments/edit/'~ comment.id ) }
] %}

{% set replies = craft.comments.all({ 'descendantOf': comment.id, limit: null }) %}
{% set elementType = craft.elements.getElementType('Comments_Comment') %}

{% set repliesElementAttr = {
    elementType: elementType,
    disabledElementIds: null,
    attributes: {
        id: ['id', { label: 'Comment' }],
        dateCreated: ['dateCreated', { label: 'Date' }],
    },
    elements: replies,
    showCheckboxes: false,
    structureEditable: false,
} %}

{% set extraPageHeaderHtml %}
    <div class="buttons right">
        <input type="submit" class="btn submit" value="{{ 'Save comment' | t }}">
    </div>
{% endset %}

{% block main %}
    <input type="hidden" name="action" value="comments/saveComment">
    <input type="hidden" name="redirect" value="comments/edit/{{ comment.id }}">
    <input type="hidden" name="commentId" value="{{ comment.id }}">

    <div class="grid first" data-max-cols="3">
        <div class="item" data-position="left" data-colspan="2">
            <div class="pane">
                <div id="comment">
                    {{ forms.textAreaField({
                        first: true,
                        label: "Comment" | t,
                        id: 'comment',
                        name: 'comment',
                        rows: '10',
                        value: (comment is defined ? comment.comment : null),
                        errors: (comment is defined ? comment.getErrors('comment') : null),
                    }) }}

                    <hr/>

                    <div id="items" class="">
                        <h2>Replies</h2>

                        {% if comment.hasDescendants %}
                            <div class="elementindex">
                                {% include "_elements/tableview/container" with repliesElementAttr %}
                            </div>
                        {% else %}
                            <p><em>No replies for this comment</em></p>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

        <div class="item" data-position="right" data-colspan="1">
            <div class="pane">

                <h5>{{ "Status" | t }}</h5>
                <input type="hidden" name="status" value="{{ comment.status }}" />

                <div class="left">
                    <div class="btn menubtn statusmenubtn">
                        <span class="status {{ comment.status }}"></span>{{ comment.status | capitalize }}
                    </div>

                    <div class="menu status-settings">
                        <ul class="padded">
                            {% for status, label in elementType.getStatuses() %}
                                <li>
                                    <a data-status="{{ status }}" {{ (status == comment.status) ? 'class="sel"' : '' }}>
                                        <span class="status {{ status }}"></span>{{ label }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <input type="button" class="btn small formsubmit" value="{{ 'Delete'|t }}" data-action="comments/deleteComment"
                        data-confirm="{{ 'Are you sure you want to delete this entry?'|t }}"
                        data-redirect="comments">
                </div>

                <div class="clear"></div>
                <hr/>

                <h5 class="first">{{ "User" | t }}</h5>
                {% if comment.userId and craft.users %}
                    {% set user = craft.users.id(comment.userId).first() %}
                    <p><a class="go" href="{{ url('users/'~user.id ) }}">{{ user.getName() }}</a></p>
                {% else %}
                    <p>{{ comment.name }} ({{ comment.email }})</p>
                {% endif %}

                <hr/>

                <h5>{{ "Element" | t }}</h5>
                {% if comment.element %}
                    <p><a class="go" target="_blank" href="{{ comment.element.url }}">{{ comment.element.title }}</a></p>
                {% else %}
                    [Not set]
                {% endif %}

                <hr/>

                <h5>{{ "URL" | t }}</h5>
                <p>{{ comment.url }}</p>

                <h5>{{ "IP Address" | t }}</h5>
                <p>{{ comment.ipAddress }}</p>

                <h5>{{ "User Agent" | t }}</h5>
                <p>{{ comment.userAgent }}</p>

                <hr/>

                <h5>{{ "Created Date" | t }}</h5>
                <p>{{ comment.dateCreated.localeDate() }} {{ comment.dateCreated.localeTime() }}</p>

                <h5>{{ "Updated Date" | t }}</h5>
                <p>{{ comment.dateUpdated.localeDate() }} {{ comment.dateUpdated.localeTime() }}</p>
            </div>
        </div>
    </div>
{% endblock %}
