{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% includeCssResource 'comments/css/comments.css' %}
{% includeJsResource 'comments/js/comments.js' %}

{% set title = "Settings" | t %}

{% set tabs = {
    comments: { label: "Comments" | t, url: url('comments') },
    permissions: { label: "Permissions" | t, url: url('comments/permissions') },
    plugins: { label: "Plugins" | t, url: url('comments/plugins') },
    settings: { label: "Settings" | t, url: url('comments/settings') },
} %}

{% set selectedTab = 'settings' %}

{% block content %}

    <div class="pane first tableview settings-tabs">
        <nav id="settings-tabs" class="tabs">
            <ul>
                <li class="label">{{ 'Settings' | t }}</li>
                <li><a id="settings-tab-general" class="tab sel" href="#settings-general" tabindex="0">{{ 'General' | t }}</a></li>
                <li><a id="settings-tab-voting" class="tab" href="#settings-voting" tabindex="1">{{ 'Voting' | t }}</a></li>
                <li><a id="settings-tab-flagging" class="tab" href="#settings-flagging" tabindex="2">{{ 'Flagging' | t }}</a></li>
                <li><a id="settings-tab-templates" class="tab" href="#settings-templates" tabindex="3">{{ 'Templates' | t }}</a></li>
                <li><a id="settings-tab-security" class="tab" href="#settings-security" tabindex="4">{{ 'Security' | t }}</a></li>
                <li><a id="settings-tab-notifications" class="tab" href="#settings-notifications" tabindex="5">{{ 'Notifications' | t }}</a></li>
            </ul>
        </nav>
    </div>

    <form method="post" accept-charset="UTF-8" data-saveshortcut>
        <input type="hidden" name="action" value="plugins/savePluginSettings">
        <input type="hidden" name="pluginClass" value="comments">
        {{ getCsrfInput() }}

        {% namespace 'settings' %}
            <div id="general">
                {% include 'comments/settings/general' %}
            </div>

            <div id="voting" class="hidden">
                {% include 'comments/settings/voting' %}
            </div>

            <div id="flagging" class="hidden">
                {% include 'comments/settings/flagging' %}
            </div>

            <div id="templates" class="hidden">
                {% include 'comments/settings/templates' %}
            </div>

            <div id="security" class="hidden">
                {% include 'comments/settings/security' %}
            </div>

            <div id="notifications" class="hidden">
                {% include 'comments/settings/notifications' %}
            </div>

        {% endnamespace %}

        <div class="buttons">
            <input class="btn submit" type="submit" value="{{ 'Save' | t }}">
        </div>
    </form>
{% endblock %}
