<div class="comment-container">
    <span itemprop="creator" itemscope itemtype="http://schema.org/Person">
        <div class="comment-image" itemprop="image">
            {% if comment.isGuest() %}
                <img src="{{ resourceUrl('/images/user.svg') }}" />
            {% else %}
                <img src="{{ comment.author.photoUrl ? comment.author.photoUrl : resourceUrl('/images/user.svg') }}" />
            {% endif %}
        </div>
    </span>

    <div class="comment-text">
        <span class="comment-heading">
            <span itemprop="creator" itemscope itemtype="http://schema.org/Person">
                <span class="title" itemprop="name">
                    {{ comment.author.fullName ? comment.author.fullName : comment.author }}
                </span>
            </span>

            <span class="meta">
                <time itemprop="commentTime" datetime="{{ comment.dateCreated | date('c') }}">
                    {{ comment.dateCreated | date('M jS, Y H:i.sa') }}
                </time>
            </span>

            {% if currentUser %}
                <div class="dropdown options-dropdown">
                    <a href="#" class="dropdown-toggle">Options <span class="caret"></span></a>

                    <ul class="dropdown-menu" role="menu">
                        {% if not comment.isGuest() and not comment.isClosed %}
                            <li role="presentation">
                                <a href="#" class="comment-edit">
                                    <span class="glyphicon glyphicon-edit"></span>Edit
                                </a>
                            </li>

                            <li role="presentation">
                                <a href="{{ comment.deleteActionUrl }}" class="comment-delete">
                                    <span class="glyphicon glyphicon-remove"></span>Delete
                                </a>
                            </li>
                        {% endif %}

                        {% if settings.allowFlagging %}
                            <li role="presentation">
                                {% if comment.flagActionUrl %}
                                    <a href="{{ comment.flagActionUrl }}" class="comment-flag">
                                        <span class="glyphicon glyphicon-flag"></span>Flag as inappropriate
                                    </a>
                                {% else %}
                                    <span class="static-label comment-flag">
                                        <span class="glyphicon glyphicon-flag"></span>Flagged as inappropriate
                                    </span>
                                {% endif %}
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </span>

        <div class="comment-content" itemprop="commentText">
            {% if comment.isFlagged %}
                <p>[Comment marked as inappropriate]</p>
            {% elseif comment.isPoorlyRated %}
                <p>[Comment hidden due to low rating]</p>
            {% else %}
                <p>{{ comment.comment | nl2br }}</p>
            {% endif %}
        </div>

        {# Inline edit form (initially hidden) - only available on approved comment #}
        {% if not comment.isFlagged and not comment.isPoorlyRated %}
            {% include '_forms/templates/form-edit' %}
        {% endif %}

        <div class="meta-buttons">
            {% if settings.allowVoting %}
                <div class="comment-votes">
                    <span class="count">{{ comment.voteCount }} votes</span>

                    {% if comment.canUpVote %}
                        <a href="{{ comment.upvoteActionUrl }}" class="comment-vote-up">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </a>
                    {% endif %}

                    {% if comment.canDownVote %}
                        <a href="{{ comment.downvoteActionUrl }}" class="comment-vote-down">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    {% endif %}
                </div>
            {% endif %}

            {% if user or settings.allowAnonymous %}
                {% if not comment.isClosed %}
                    <a href="#" class="comment-reply" itemprop="replyToUrl">
                        <span class="glyphicon glyphicon-share-alt"></span>
                        Reply
                    </a>
                {% endif %}
            {% endif %}
            
            <a href="#" class="comment-toggle">
                <span class="glyphicon glyphicon-comment"></span>
                {{ comment.descendants | length }} comments
            </a>
        </div>
    </div>
</div>
