{% macro errorList(errors) %}
    {% if errors %}
        <ul class="comment-errors">
            {% for error in errors %}
                <li class="comment-error">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% set activeComment = craft.comments.getActiveComment() %}

{% if user or settings.allowAnonymous %}
    <form class="form-inline comment-form" role="form" action="" method="post" accept-charset="UTF-8">
        <input type="hidden" name="action" value="comments/save">
        <input type="hidden" name="elementId" value="{{ element.id }}">
        {% if comment is defined %}
            {% if comment.id %}<input type="hidden" name="parentId" value="{{ comment.id }}">{% endif %}
        {% endif %}
        
        {# Anti-spam and security measures #}
        {{ craft.comments.protect() }}
        {{ getCsrfInput() }}

        {% if not currentUser %}
            <div class="form-group name-input">
                <input class="form-control" name="fields[name]" type="text" placeholder="Your name" value="{{ attribute(activeComment, 'name') }}">

                {% if activeComment is defined %}
                    <div class="comment-errors-container">
                        {{ _self.errorList(activeComment.getErrors('name')) }}
                    </div>
                {% endif %}
            </div>

            <div class="form-group email-input">
                <input class="form-control" name="fields[email]" type="text" placeholder="Your email" value="{{ attribute(activeComment, 'email') }}">

                {% if activeComment is defined %}
                    <div class="comment-errors-container">
                        {{ _self.errorList(activeComment.getErrors('email')) }}
                    </div>
                {% endif %}
            </div>
        {% endif %}

        <div class="form-group comment-input">
            <textarea class="form-control" name="fields[comment]" placeholder="Your comments">
                {{- attribute(activeComment, 'comment') | trim -}}
            </textarea>

            {% if activeComment is defined %}
                <div class="comment-errors-container">
                    {{ _self.errorList(activeComment.getErrors('comment')) }}
                </div>
            {% endif %}
        </div>

        {#
         # Display plugin hooks
         #}
        <p>
            {{ craft.comments.pluginHooks('html.afterFormDisplay') }}
        </p>

        <div class="form-group comment-input-btn">
            <button type="submit" class="btn btn-default">Add Comment</button>
        </div>
    </form>
{% else %}
    <span>
        You must be logged in to comment.
    </span>
{% endif %}