{# Only output the edit form if you're logged in, and only for your own posts #}
{% if currentUser %}
    {% if comment.userId == currentUser.id %}
        <form class="edit-comment-form" role="form" method="post" style="display:none;">
            <input type="hidden" name="action" value="comments/edit">
            <input type="hidden" name="elementId" value="{{ element.id }}">
            <input type="hidden" name="commentId" value="{{ comment.id }}">
            
            {# Anti-spam and security measures #}
            {{ craft.comments.protect() }}
            {{ getCsrfInput() }}

            <textarea class="form-control" name="fields[comment]" placeholder="Your comments">
                {{- comment.comment | trim -}}
            </textarea>

            <button class="btn btn-default">Save</button> or <a href="#" data-action="cancel-edit">Cancel</a>
        </form>
    {% endif %}
{% endif %}