{% requireAdmin %}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% includeCssResource 'comments/css/comments.css' %}
{% includeJsResource 'comments/js/comments.js' %}

{% set title = "Permissions" | t %}

{% set tabs = {
    comments: { label: "Comments" | t, url: url('comments') },
    permissions: { label: "Permissions" | t, url: url('comments/permissions') },
    plugins: { label: "Plugins" | t, url: url('comments/plugins') },
    settings: { label: "Settings" | t, url: url('comments/settings') },
} %}

{% set selectedTab = 'permissions' %}

{% set content %}
    <h2>Commenting permissions</h2>
    <p>Select which element collections should have commenting enabled on by default.</p>
    <p>For more fine-grained control over specific elements, create a Comment Options fieldtype, and add to your elements custom fields.</p>

    <form method="post" accept-charset="UTF-8" data-saveshortcut="1">
        <input type="hidden" name="action" value="plugins/savePluginSettings">
        <input type="hidden" name="pluginClass" value="comments">
        {{ getCsrfInput() }}

        {% namespace 'settings' %}

        {% for element in craft.elements.getAllElementTypes() %}
            {% set elements = craft.comments.elements(element.classHandle) %}

            {% if elements and (element.classHandle != 'Comments_Comment') and element.getSources %}
                {% set elementOptions = [] %}

                {% if element.classHandle == 'Entry' %}
                    {% for section in craft.sections.getAllSections() %}
                        {% set elementOptions = [{ value: section.id, label: section.name }] | merge(elementOptions) %}
                    {% endfor %}
                {% elseif element.classHandle == 'Category' %}
                    {% for group in craft.categoryGroups.getAllGroups() %}
                        {% set elementOptions = [{ value: group.id, label: group.name }] | merge(elementOptions) %}
                    {% endfor %}
                {% elseif element.classHandle == 'Asset' %}
                    {% for group in sourceOptions %}
                        {% set elementOptions = [{ value: group.value, label: group.label }] | merge(elementOptions) %}
                    {% endfor %}
                {% elseif element.classHandle == 'User' %}
                    {% for group in craft.userGroups.getAllGroups() %}
                        {% set elementOptions = [{ value: group.id, label: group.name }] | merge(elementOptions) %}
                    {% endfor %}
                {% endif %}

                {{ forms.checkboxSelectField({
                    label: element.classHandle ~ " Elements" | t,
                    instructions: "Select which elements to enable commenting on by default" | t,
                    id: 'permissions-' ~ element.classHandle,
                    name: 'permissions[' ~ element.classHandle ~ ']',
                    options: elementOptions,
                    values: settings.permissions[element.classHandle] is defined or null,
                }) }}

            {% endif %}
        {% endfor %}

        {% endnamespace %}

        <hr>

        <div class="buttons">
            <input type="submit" class="btn submit" value="{{ 'Save' | t }}">
        </div>
    </form>
{% endset %}
